{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'beat_site/home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">

    <title>CS 109 Project</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyBfVqEwUJ55bkc9_jmBJmR0sk9N6SO-Z6I'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('string', 'Country');
        dataTable.addColumn('number', 'Rate (per 1,000 live births)');
        dataTable.addRows([
            {% for country in country_list %}
            ['{{country.name}}',{{country.curr_rate}}],
            {% endfor %}
        ]);

        var view = new google.visualization.DataView(dataTable);
        view.setColumns([0, 1]);

        var options = {
            colorAxis: {colors: ['white', '#F76c6c']},
            backgroundColor: { fill:'transparent' },
            tooltip: { isHtml: true },
            datalessRegionColor: 'white',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('id_map'));

        function myClickHandler(){
            var selection = chart.getSelection()[0];
            var country = dataTable.getValue(selection.row, 0);
            return country;
        }

        google.visualization.events.addListener(chart, 'select', myClickHandler);

        chart.draw(view, options);
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--     <script src="./myChart.js"></script>
 -->  </head>
  <body>
    <div class ="MainContainer">
      <div class="ParallaxContainer">
        <h1 class="title">
          Analyzing and Modeling Infant Mortality
        </h1><br>
      </div>
    <div class="ContentContainer">
      <div class="Content">
        <h1 class="page-title">A Current Overview</h1>
        <div id="id_map" class="map"></div>
        <p>This is the current state of infant mortality worldwide</p>
      </div>
    </div>
      <div class="LightParallaxContainer">
        <div class="column">
          <h1 class="title">
            A Sonic Representation
          </h1>
          <div class="container">
              <canvas id="worldChart"></canvas>
          </div>
        </div>
        <div class="column" style="padding-right: 100px">
          <p>Click the heart to start</p>
          <div id="heart" class="heart">
            <audio id="heartbeat" src="{% static 'beat_site/heartbeat.wav' %}" preload="auto" type="audio/wav">
              Your browser does not support the <code>audio</code> element.
            </audio>
            <audio id="hospital" src="{% static 'beat_site/hospital.wav' %}" preload="auto" type="audio/wav">
              Your browser does not support the <code>audio</code> element.
            </audio>
          </div>
          <div class="buttons" style="text-align: center; visibility: hidden;">
            <button id="reset" class="btn btn-light">Reset</button>
          </div>
          </div>
        </div>


    <script type="text/javascript">
      var playBtn = document.getElementById('heart'),
      resetBtn = document.getElementById('reset'),
      heart = document.getElementById('heart'),
      hearbeat = document.getElementById('heartbeat');
      var endpoint = 'api/data';
      var delay = 2000;

      var worldChart = new Chart(document.getElementById("worldChart"), {
          type: 'line',
          data: {
            labels: [],
            datasets: [{
                label: 'Mortality rate, infant (per 1,000 live births)',
                data: [],
                backgroundColor: 'rgba(247, 108, 108, 0.5)',
                pointRadius: 5,
                fill: false,
                borderWidth: 5,
                borderColor: 'rgba(247, 108, 108, 0.5)',
                steppedLine: true,
            }]
          }
      })

      function addData(index, delay){
        $.ajax({
          method:"GET",
          url:endpoint,
          success: function(data){
            labels = data.labels
            imrData = data.rates
            // Reset animation
            if (heart.classList.contains('active')) {
              heart.classList.remove('active');
              void heart.offsetWidth;
            }
            delay = 40000 / (imrData[index]);
            if (index < imrData.length){
              console.log(delay)
              //Update graph of IMR
              worldChart.data.labels.push(labels[index]);
              worldChart.data.datasets[0].data.push(imrData[index]);
              worldChart.update()
              //Play and beat heart
              if (!heart.classList.contains('active')) {
                heartbeat.play();
                heart.classList.add('active')
              }
               setTimeout(
                 function () { addData(index+1, delay); },
                 delay // delay in ms
               );
            }
          },
          error: function(error_data){
            console.log("error")
            console.log(error_data)
          }
        })
      }

      playBtn.addEventListener('click', function() {
        if (!heart.classList.contains('active')) {
          // heart.classList.add('active');
          hospital.play();
          addData(0)
          resetBtn.style.visibility = "visible";
        }
      }, false);

      resetBtn.addEventListener('click', function() {
        heart.classList.remove('active');
        heartbeat.pause();
        heartbeat.currentTime = 0;
        resetBtn.style.visibility = "hidden";
        worldChart.data.labels = []
        worldChart.data.datasets[0].data = []
        worldChart.update()
      }, false);
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>